.home-bg {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.6),   /* dark overlay */
            rgba(0, 0, 0, 0.6)
        ),
        url("./assets/profile-bg.webp");

    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;

    width: 100%;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .home-bg {
        background-position: right top;
    }
}

@media (max-width: 480px) {
    .home-bg {
        background-position: center;
    }
}

.intro-wrapper {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100dvh;
  background: black;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
 
/* Video */
.intro-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
@media (max-width: 480px) {
  .intro-wrapper {
    height: 100vh; /* fallback for older browsers */
  }
 
  .intro-video {
    object-fit: cover;
  }
}
 
@media (min-width: 481px) and (max-width: 768px) {
  .intro-video {
    object-fit: cover;
  }
}
 
@media (min-width: 769px) and (max-width: 1024px) {
  .intro-video {
    object-fit: cover;
  }
}
 
@media (min-aspect-ratio: 16/9) {
  .intro-video {
    width: 100%;
    height: auto;
  }
}
 
@media (max-aspect-ratio: 16/9) {
  .intro-video {
    width: auto;
    height: 100%;
  }
}
 
